---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.</div>
{% endif %}

<h2>📄 Peer-Reviewed Publications</h2>
<ol>
  <li>
    Kim, J.-H., <strong>K. Shiratori</strong>, et al.<br>
    <em>Suppressed Interparticle Coupling in Plasmonic Meta-Atoms with Intraparticle Hot Spots</em><br>
    <em>(In Preparation)</em>
  </li>
  <li>
    Yuan, T.,[...], <strong>K. Shiratori</strong>, et al.<br>
    <em>Untangling Energy-Dependent Radiative, Non-Radiative, and Chemical Interface Damping in Gold Nanorods</em><br>
    <em>(Submitted)</em>
  </li>
  <li>
    Lin, J., <strong>K. Shiratori</strong>, et al.<br>
    <em>Competition between Hot Carriers and Surface Electrochemistry in Gold Nanorod Dissolution</em><br>
    <em>J. Phys. Chem. C</em>, 2025.
    <a href="https://pubs.acs.org/doi/full/10.1021/acs.jpcc.5c01882" target="_blank">Link</a>
  </li>
  <li>
    <strong>K. Shiratori</strong>, et al.<br>
    <em>Machine Learning to Adaptively Predict Gold Nanorod Sizes on Different Substrates</em><br>
    <em>J. Phys. Chem. C</em>, 2025. 
    <a href="https://pubs.acs.org/doi/10.1021/acs.jpcc.5c00244" target="_blank">Link</a>
  </li>
  <li>
    <strong>K. Shiratori</strong>, et al.<br>
    <em>Machine-Learned Decision Trees for Predicting Gold Nanorod Sizes from Spectra</em><br>
    <em>J. Phys. Chem. C</em>, 2021. 
    <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcc.1c03937" target="_blank">Link</a>
  </li>
</ol>

<hr>

<h2>🎤 Conference Presentations</h2>

<h3>Oral Presentations</h3>
<ul>
  <li>
    <em>Machine-learned decision trees predicting AuNR dimensions from spectra alone</em><br>
    AIChE Spring Meeting & 17th Global Congress on Process Safety (Online), April 2021<br>
    14th Annual Virtual Oil & Gas HPC Conference (Online), March 2021
  </li>
</ul>

<h3>Poster Presentations</h3>
<ul>
  <li>
    <em>Machine-learned decision trees predicting AuNR dimensions</em><br>
    ACS Fall 2022, San Diego, CA
  </li>
  <li>
    <em>The interaction of gold nanostructure with different laser polarizations in COMSOL simulation</em><br>
    Joint Rice Center for Quantum Engineering–Nakatani RIES Fellowship Poster Session, Houston, TX, September 2018
  </li>
  <li>
    <em>Polarization-angle-resolved Raman spectroscopy on Pb(Zn<sub>1/3</sub>Nb<sub>2/3</sub>)O<sub>3</sub>–8%PbTiO<sub>3</sub> under external electric field</em><br>
    12th Japan-Korea Conference on Ferroelectrics, Nara, Japan, August 2018
  </li>
</ul>

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



